@import url("style.css");

body {
    height: auto;
    min-height: 100vh;
}

    .acerca_de {
    width: 80%;
    max-width: 800px;
    margin: 0px auto 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    hyphens: auto;

        h2 {
            text-align: center;
            margin-bottom: 30px;
            text-shadow: -2px 2px 2px var(--negro);
        }
        p {
        width: 100%; 
        min-height: 65vh;
        background-color:  rgba(249, 246, 246, 0.7);
        border-radius: 10px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        padding: 30px;
        color: var(--negro);
        margin-bottom: 30px;

        
        }  
        
    }
}



