@import url("style.css");
@import url("aside.css");
@import url("header_y_container.css");
@import url("styleCartel.css");

section.header_y_container {
    form.perfil_form {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        gap: 20px;
        justify-content: center;
        width: 50%;

        .perfil_columna_izq,
        .perfil_columna_der {
            width: 100%;
        }
        .form-item {
            margin-bottom: 18px;
            text-align: left;
            font-weight: bolder;
            font-size: 0.95em;

            input {
                width: 100%;
                padding: 8px;
                margin-top: 5px;
                border: none;
                border-radius: 8px;
                font-size: 0.95em;
            }
        }
        .boton_centrado {
            width: 208%;
            background-color: var(--azul_principal);
            color: var(--blanco_tenue);
            padding: 10px;
            border: none;
            border-radius: 10px;
            border: 4px outset var(--azul_claro);
            cursor: pointer;
            font-size: 1em;
            font-weight: bolder;

            a {
                display: block;
                color: var(--blanco);
            }
            &:hover {
                background-color: var(--azul_oscuro);
            }
            &:active {
                transform: scale(95%);
            }
        }
    }
}