@import url("style.css");
@import url("aside.css");
@import url("header_y_container.css");

section.header_y_container {
    form.perfil_form {
        display: grid;
        grid-template-columns: repeat(3, 50%);
        gap: 20px;
        justify-content: center;
        width: 50%;

        @media (max-width: 1100px) {
            grid-template-columns: repeat(3, 30%);
        }

        @media (max-width: 900px) {
            grid-template-columns: repeat(1, 60%);
            grid-template-rows: repeat(5, auto);
            gap: 0px;
        }

        .perfil_columna_izq,
        .perfil_columna_centro,
        .perfil_columna_der {
            width: 100%;
        }

        .form-item {
            margin-bottom: 10px;
            text-align: left;
            font-weight: bolder;
            font-size: 0.95em;

            input,
            select {
                width: 100%;
                padding: 8px;
                margin-top: 8px;
                border: none;
                border-radius: 8px;
                font-size: 0.95em;

                @media(max-width: 900px) {
                    margin-bottom: 10px;
                }
            }
        }
    }

    .boton_centrado {
        background-color: var(--azul_principal);
        color: var(--blanco_tenue);
        padding: 10px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 1em;
        font-weight: bolder;
        width: 316%;
        height: 50px;
        line-height: 25px;
        border: 4px outset var(--azul_claro);

        @media (max-width: 900px) {
            width: 100%;
            margin-top: 10px;
        }

        a {
            color: var(--blanco);
            display: block;
        }

        &:hover {
            background-color: var(--azul_oscuro);
        }

        &:active {
            transform: scale(95%);
        }
    }
}