@import url("style.css");
@import url("aside.css");
@import url("header_y_container.css");

body {
    color: var(--blanco_tenue);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-height: 100vh;
    height: 100vh;
    background-color: var(--azul_claro);
    display: flex;
}

.volver {
    font-weight: 800;
    color: white;
}

section.header_y_container {
    .recuadro {
        display: grid;
        grid-template-rows: auto 1fr;
        background-color: var(--azul_masClaro);
        min-width: 100%;
        height: 90%;
        border: 1px outset var(--blanco_tenue);
        border-radius: 5px;
        margin: 0 15px;

        div.contenidoRecuadro {
            color: black;
            text-align: center;
            padding: 20px 0 30px 0;

            h2 {
                margin-bottom: 60px;
            }
            .container {
                display: flex;
                justify-content: center;
                gap: 20px;
                width: 100%;
                margin: auto;

                a {
                    width: 30%;
                    height: 200px;
                    /* padding: 20px; */
                    display: grid;
                    place-content: center;
                    background-color: var(--azul_principal);
                    border: 6px outset var(--azul_claro);
                    border-radius: 8px;
                    box-shadow: -4px 5px 5px rgba(0, 0, 0, 0.5);
                    color: var(--blanco);

                    &:hover {
                        background-color: var(--azul_oscuro);
                    }
                    &:active {
                        transform: scale(95%);
                    }
                    h4 {
                        margin-bottom: 15px;
                        font-size: 1.3em;
                    }
                }
            }
        }
    }
}