@import url("style.css");

body {
    height: 100vh;
    position: relative;

    .volver span{
        position: absolute;
        font-weight: 800;
        color: white;
        &:hover{
            color: var(--azul_marino);
            cursor: pointer;
        }
        &:active{
            transform: scale(115%);
        }
    }
}

.login_card {
    max-width: 280px;
    width: 300px;
    height: 325px;
    display: grid;
    grid-template-rows: 3;
    gap: 15px;
    background-color: var(--azul_principal);
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
    padding: 30px;

    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;


    .avatar {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        margin: 5px auto 20px;
        overflow: hidden;
        border: 4px double var(--azul_clarisimo);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

        }
    }

    input {
        width: 100%;
        height: 35px;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.364);
        border-radius: 8px;

        input {
            width: 100%;
            height: 400px;
            padding: 10px;
            box-sizing: border-box;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 8px;
        }
    }

    .login_button {
        background-color: var(--azul_oscuro);
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.364);
        cursor: pointer;

        a{
            color: var(--blanco)
        }
        &:hover {
            filter: brightness(70%);
        }

        &:active {
            transform: scale(95%);
        }
    }
}