@import url("style.css");

body {
    position: relative;
/*
    @media (max-width: 650px) {
        display: grid;
        grid-template-areas: "aside" "header_y_container";
    }
   */
   

    /*mi modificacion________________________*/
    .nav-toggle{
        color: white;
        background: none;
        border: none;
        font-size: 30px;
        padding: 0 20px;
        line-height: 60px;
        cursor: pointer;
        display:none;/*para que no sea vea en el dispositivo*/
    }

    @media (max-width: 600px) {
        aside{
            display: none; 
            min-width: 200px;     
                    
            /*Deplazamiento hacia la derecha*/
            .logo_y_cliente{ 
                width: 100%;
                
                height: calc(100%-50%);/*para calcular el alto automáticamente*/  
           
                transition: right 0.3s;

                img.logo {
                    width: 100%;
                    padding: 12px;
                    padding-bottom: 0;
                }
             }
        }

        .nav-toggle{
            display: block;
        }
 
        .nav-toggle:focus(:focus-visible){
             outline: none;
        }

                         
        .aside_visible{
             display:block;
             min-width: 200px; 
               
        }
        ._visible{
            width: auto;
        } 
    }

/*_____________________________________________________*/

    aside {
            width: 18%;
            height: 100%;
            background-color: var(--azul_principal);
            transition: all .3 ease;

            @media (max-width: 1100px) {
                width: auto;
                min-width: 25%;
            }

           
           @media (max-width: 650px) {
                grid-area: aside;
                width: 80vw;
                z-index: 1;
                /* display: fixed; */
            }
           

           
            img.logo {
                width: 90%;
                padding: 12px;
                padding-bottom: 0;
            }
            div.avatarCliente {
                display: grid;
                margin: auto;

                img.img_Cliente {
                    width: 70px;
                    height: 70px;
                    border: 5px double var(--azul_principal);
                    border-radius: 50%;
                    background-color: rgb(221, 218, 218);
                    margin: 2px auto 5px;
                }

                h4 {
                    width: auto;
                    max-width: 100%;
                    text-align: center;
                    margin: auto;
                    padding: 7px 15px;
                    background-color: #0e36ad;
                    border-radius: 20px;
                    font-size: .85em;
                    font-weight: 200;
                    overflow: hidden;
                }

                
            }


            


            nav {
                background-color: var(--azul_oscuro);
                padding: 20px;
                font-size: 1em;
                margin-top: 20px;
                height: calc(100% - 35%);
                border-top-right-radius: 60px;

                @media (max-width: 1100px) {
                    height: calc(100% - 38%);
                }

                @media (max-width: 950px) {
                    height: calc(100% - 34%);
                }

                @media (max-width: 780px) {
                    height: calc(100% - 33%);
                }

                @media (max-width: 650px) {
                    height: calc(100% - 32%);
                }
/*mi modificacion_______________________________________________________*/
                @media (max-width: 600px) {
                    
                    background: none;

                     .nav-menu{
                        flex-direction: column;
                        align-items: center;
                        margin-right: 20px;
                        background-color: var(--azul_oscuro);
                        border-top-right-radius: 60px;
                        position: fixed;
                       
                        padding: 10px 0;
                        height: calc(100%-31%);/*para calcular el alto automáticamente*/
                        overflow-y: auto;/*agrega u scrool cuando sea necesario*/
                        /*Deplazamiento hacia la derecha*/
                        top:40%;
                        right: 100%;
                        transition: right 0.3s;
                     }
                     .nav-menu_visible{
                        display:block;
                        right:65%;
                        margin-right: 5px;   
                     } 

                    
                }
/*______________________________________________________________*/
                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: left;
                    padding-top: 5px;

                    @media (max-width: 650px) {

                        display: grid;
                        place-content: center;
                    }

                    li {
                        margin-bottom: 1em;
                        letter-spacing: 0.2px;
                        margin-left: 15px;

                        &:hover {
                            padding: 5px;
                            padding-left: 5px;
                            box-shadow: -4px 4px 8px rgba(252, 251, 251, 0.251);
                        }
                        &:active {
                            padding: 5px;
                            padding-left: 5px;
                            box-shadow: -4px 4px 8px rgba(252, 251, 251, 0.251);
                            background-color: rgba(250, 249, 247, 0.2);
                        }
                        a {
                            color: var(--blanco);
                        }
                        img {
                            width: 18px;
                            height: 18px;
                            vertical-align: middle;
                            margin-right: 15px;
                            filter: invert(100%);
                        }
                        &.cerrar {
                            display: flex;
                            margin: 60px 8px auto 8px;
                            align-items: center;
                            border-radius: 7px;
                            padding: 6px 10px;
                            font-size: .9em;
                            background-color: var(--azul_marino);
                            border: 1px solid var(--azul_claro);

                            img {
                                width: 18px;
                                height: 18px;
                                filter: invert(100%);
                                margin-right: 10px;
                            }
                            a {
                                color: var(--blanco_tenue);
                            }
                            &:active {
                                transform: scale(90%);
                                background-color: var(--azul_principal);
                                border: 2px solid var(--azul_marino);
                                transition: all .5s ease;
                            }
                        }
                    }
                }
            }


        }

       
        
    }