@import url("style.css");

body {
    color: var(--blanco_tenue);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-height: 100vh;
    height: 100vh;
    background-color: var(--azul_claro);
    display: flex;

    @media (max-width: 600px) {
        display: grid;
        grid-template-areas: "aside" "header_y_container";
    }
    .volver{
        font-weight: 800;
        color: white;
    }
    section.header_y_container {
        grid-template-rows: 10% 90%;
        width: 80%;

        @media (max-width: 1100px) {
            width: 80%;
        }

        @media (max-width: 900px) {
            padding-right: 5px;
            width: 75%;
        }

        @media (max-width: 700px) {
            width: 70%;
        }

        @media (max-width: 600px) {
            grid-area: header_y_container;
            width: 100%;
            /*padding-right: 40px;*/
            display: block;
        }

        .hola_buscador {
            flex: 1;
            display: flex;
            grid-template-rows: 10% 90%;
            align-items: start;
            justify-content: space-between;
            padding: 15px 0;
            width: 80vw;
            color: white;

            @media (max-width: 900px) {
                width: 75vw;
                padding-right: 15px
            }

            h4 {
                margin-left: 15px;

                span {
                    color: var(--azul_masClaro)
                }
            }

            form {
                background-color: var(--azul_clarisimo);
                border-radius: 5px;
                padding: 3px 8px 1px;
                line-height: 20px;
                display: flex;
                align-items: center;

                label img {
                    width: 18px;
                    height: 18px;
                    filter: contrast(150%);
                    margin-right: 3px;
                }

                .buscador {
                    width: 190px;
                    border: none;
                    background-color: transparent;
                }
            }
        }

        .recuadro {
            display: grid;
            grid-template-rows: auto 1fr;
            background-color: var(--azul_masClaro);
            min-width: 100%;
            height: auto;
            border: 1px outset var(--blanco_tenue);
            border-radius: 5px;
            margin: 0 15px;

            @media (max-width: 900px) {
                min-width: 98%;
            }

            div.contenidoRecuadro {
                color: black;
                text-align: center;
                display: grid;
                justify-items: center;
                padding: 20px 0 30px 0;

                @media (max-width: 900px) {
                    form.perfil_form {
                        width: 80%;
                    }
                }

                h2 {
                    margin-bottom: 20px;
                }
            }
        }
    }

    @media (max-width: 1100px) {
        .recuadro div.contenidoRecuadro {
            form.perfil_form {
                width: 80%;
            }
        }
    }
}
