@import url("style.css");

body {

    height: 100vh;
    position: relative;
}

.volver {
    position: absolute;
    top: 2%;    
    font-weight: 800;
}

.registro_card {
    min-width: 350px;
    width: 300px;
    height: 450px;
    display: grid;
    grid-template-rows: 3;
    gap: 15px;
    background-color: var(--azul_principal);
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
    padding: 30px;

    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    h4{
        text-align: center;
    }
    .avatar {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        margin: 5px auto 20px;
        overflow: hidden;
        border: 4px double var(--azul_clarisimo);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    input {
        width: 100%;
        height: 35px;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.364);
        border-radius: 8px;

        input {
            width: 100%;
            height: 400px;
            padding: 10px;
            box-sizing: border-box;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 8px;
        }
    }
    h5{
        text-align: center;
        margin-bottom: 5px;
        font-size: .8em;;

    }
    .file-input-container {
        text-align: center;
        display: grid;
        justify-content: center;

        .file-input-label {
            /* display: inline-block; */
            width: 100%;
            padding: 9px;
            background-color: #b9bbb9;
            border: 1px solid var(--azul_oscuro);
            color: black;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.364);
            cursor: pointer;
            border-radius: 8px;
            font-size: .8em;
            display: grid;
            justify-content: center;
            align-items: center;

            &:hover {
                color: white;
                filter: brightness(70%);
            }
            &:active {
                transform: scale(95%);
            }
        }
    
        #file-input {
            display: none;
        }
        #file-name-container {
            max-width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 0.8em;
            margin-top: 4px
        }
    }
    .login_button{
        background-color: var(--azul_oscuro);
        color: var(--blanco_tenue);
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.364);
        cursor: pointer;
        width: 100%;
        height: 100%;
        text-align: center;
        a{
            color: var(--blanco);
            display: block;
        }
        &:hover {
            color: var(--blanco);
            filter: brightness(70%);
        }
        &:active {
            transform: scale(95%);
        }
    }


    
}