@import url("style.css");
@import url("aside.css");
@import url("header_y_container.css");

body {
    color: var(--blanco_tenue);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-height: 100vh;
    height: 100vh;
    background-color: var(--azul_claro);
    display: flex;
}

.volver {
    font-weight: 800;
    color: white;
}

section.header_y_container {
    .recuadro {
        display: grid;
        grid-template-rows: auto 1fr;
        background-color: var(--azul_masClaro);
        min-width: 100%;
        height: 90%;
        border: 1px outset var(--blanco_tenue);
        border-radius: 5px;
        margin: 0 15px;

        div.contenidoRecuadro {
            color: black;
            text-align: center;
            padding: 20px 0 30px 0;
            margin: 0 auto;

            h2 {
                margin-bottom: 20px;
            }

            .botonera {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 20px;

                div {
                    background-color: var(--azul_oscuro);
                    border: 4px outset var(--azul_claro);
                    border-radius: 8px;
                    box-shadow: -4px 5px 5px rgba(0, 0, 0, 0.5);
                    color: var(--blanco);

                    &:hover {
                        cursor: pointer;
                        filter: brightness(60%);
                    }
                    &:active {
                        transform: scale(90%);
                    }
                    a {
                        width: 20vw;
                        height: 30vh;
                        display: grid;
                        place-items: center;
                        color: var(--blanco);
                    }

                    &:nth-child(odd) {
                        background-color: var(--azul_marino);
                    }
                }
            }
        }
    }
}