@import url("inicio.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --blanco_tenue: #eeebeb;
    --azul_principal: #436ff3;
    --azul_claro: #6387f1;
    --azul_masClaro: #a6baf5;
    --azul_clarisimo: #e7ecf8;
    --azul_oscuro: #193b9f;
    --azul_marino: #0e2877;
    --blue: blue;
}

.volver{
    display: flex;
    justify-content: left;
    padding: 20px 0 20px 40px;    

    img {
        width: 20px;
        height: 20px;
        filter: invert(100%);
        margin-right: 5px;
    }
    a {
        color: white;
        font-weight: 800;
    }
}

