@import url("style.css");

body {
    height: 100vh;
    position: relative;
    
    .volver {
        position: absolute;
        top: 2%;
    }

    .acerca_de {
        position: absolute;
        top: 20%;
        left: 50%;
        translate: -50% -50%;
        width: 60%;

        h2 {
            text-align: center;
            margin-bottom: 30px;
            text-shadow: -2px 2px 2px var(--negro);

        }
        p {
        height: auto;
        min-height: 65vh;
        background-color:  rgba(249, 246, 246, 0.7);
        border-radius: 10px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        padding: 30px;
        color: var(--negro);

        position: absolute;
        width: 100%; 
        }  
    }
}



